body {
  font-family: 'Work Sans', sans-serif;
  --bs-primary: #e097a6;
  --bs-primary-rgb: 224,151,166;
  --bs-info: #d36d82;
  --bs-info-rgb: 211,109,130;
  --bs-dark: #c6435e;
  --bs-dark-rgb: 198,67,94;
  --bs-body-color: var(--bs-white);
  --bs-body-bg: var(--bs-dark);
}

.container {
  height: 100%;
  max-width: 960px;
}

.text-badge {
  padding: .1em .4em;
  background: var(--bs-info);
}

.banner {
  padding: 2em 1em;
  text-align: center;
  background: var(--bs-primary);
  border-radius: 1em;
}

.projects {
  --bs-gutter-y: 1.5rem;
}

footer {
  background: var(--bs-info);
}

